[Unit]
Description=PiWriter display driver
After=multi-user.target

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/home/pi/piwriter
Type=idle
ExecStart=/usr/bin/python3 /home/pi/piwriter/piwriter.py start
ExecRestart=/usr/bin/python3 /home/pi/piwriter/piwriter.py start
ExecStop=/usr/bin/python3 /home/pi/piwriter/piwriter.py stop
TimeoutSec=10
Restart=always
