[Unit]
Description=My Script Service
After=multi-user.target

[Service]
WorkingDirectory=/home/pi/piwriter
Type=idle
User=pi
ExecStart=/home/pi/piwriter/main.py run &> /dev/null
ExecStop=/home/pi/piwriter/main.py sleep &> /dev/null
# Restart=always

[Install]
WantedBy=multi-user.target
